<div class="container-fluid">
  <br>
  <br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @post.desc %>
</p>
<% @users.each do |user|%>
  <div><strong>Criador: </strong><%= user.email%></div>

<% end %>
<%post = @post %>
<%if can? :manage, post %>
<%= link_to 'Editar', edit_post_path(@post), :class => "btn btn-warning"  %> |
<%end %>
<%= link_to 'Voltar', posts_path, :class => "btn btn-primary"  %>
</div>